
.kozminski-title {
font-size: 45px;
font-weight: bold;
color: white;
-webkit-text-stroke: 0.5px #0056b3; 
text-align: center;
margin-bottom: 45px;
text-shadow:
    2px 2px 0 #0056b3, 
    4px 4px 5px rgba(0, 0, 0, 0.5); /* blurred black shadow for 3D */
}

.play-btn {
background-color: #0056b3;
color: white;
padding: 12px 70px;
border-radius: 18px;
font-size: 40px;
cursor: pointer;
border: 2px solid #3399ff; /* neon blue border */
box-shadow: 
    0 0 4px #3399ff,
    0 0 8px #3399ff,
    0 0 12px #3399ff; 
transition: all 0.3s ease-in-out;
}

.play-btn:hover {
background-color: #004494;
transform: scale(1.08);
box-shadow: 
    0 0 20px #00ffff,
    0 0 30px #00ffff,
    0 0 40px #00ffff,
    0 0 60px #00ffff;
text-shadow: 0 0 10px white;
}


body {
    margin: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding-top: 12%; 
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/images/kozminski_university.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -2;
}

body::after {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2); /* white cover */
    z-index: -1;
}


